
@{
    ViewBag.Title = "No conección";
}

<h2>Problemas de conección con base de datos</h2>
<a href="@Url.Action("Index", "Home")" class="btn btn-default">
    <span class="glyphicon glyphicon-hand-left" aria_hidden="true"></span>
    Administración
</a>
